/*style for final version RPS*/

body{
	width: 900px;
	color:blue;
	text-align:left;
	font-size: 14px;
	background: white;
	padding: 30px 30px 30px 30px;
	border: 20px solid blue;
}
.form-style-4{
	width: 400px;
	color:white;
	font-size: 24px;
	background: #FF0000;
	padding: 20px 10px 5px 20px;
	border: 40px blue;
}



}

